@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   font-family: "Geist", sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}


/* SWIPER ARROW */
.swiper-button-prev, .swiper-button-next {
  color: rgb(54, 57, 255) !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 30px !important;
}

/* BACKGROUND */
.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 100%;
    background-image: linear-gradient(#577602 10%, #7300ff);
    filter: blur(150px);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -1;
}

